@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700;800&display=swap');
@import "tailwindcss";

* {
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F0F4F8;
}

#root {
  width: 100%;
  min-height: 100vh;
}
